.modal-container {
    padding: 20px;
    position: absolute;
    width: 600px;
    height: 326px;
    left: 420px;
    top: 247px;

    /* DTC White */

    background: #FFFFFF;
    border-radius: 16px;
}



.modal-row {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-right-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.modal-right-btn:hover {
    background-color: #CFD8DC;
}

.wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.line {
    background-color: #CFD8DC;
}



.wallet-fox,
.wallet-connect {
    padding: 12px 20px;
    gap: 135px;

    width: 536px;


    /* DTC Light Gray (BG) */

    background: #F8F9FA;
    /* DTC Mid Gray */

    border: 1px solid #CFD8DC;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.wallet-connect:hover,
.wallet-fox:hover {
    background-color: white;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 1440px;
    height: 100%;
}

@media screen and (max-width: 500px) {}